# =============== #
# Unity generated #
# =============== #
Yves/Temp/
Yves/Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
Yves/ExportedObj/
Yves/obj/
Yves/*.svd
Yves/*.userprefs
Yves/*.csproj
Yves/*.pidb
Yves/*.suo
Yves/*.sln
Yves/*.user
Yves/*.unityproj
Yves/*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ================ #
# Jarvis generated #
# ================ #
Yves/Art/Characters/dex_char_anims.ma
Yves/Art/Characters/*/WIP/
Yves/Art/Characters/[Rr]eferences/
Yves/Art/Characters/.mayaSwatches/bird_wing_wip.ma.swatches
Yves/Art/LevelDesign/
Yves/Art/Poster/WIP/
Yves/Assets/Models/Downloaded/
Yves/Game_Data/
